<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'search_customers' %}">Model Serial Number</a>
        <a href="{% url 'model_data_list' %}">Model GSM Data</a>
        <a href="{% url 'login' %}">Login</a>
    </nav>
    <h1>Register</h1>
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>
</html>
