<!DOCTYPE html>
<html>
<head>
    <title>Admin Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'search_customers' %}">Model Serial Number</a>
        <a href="{% url 'model_data_list' %}">Model GSM Data</a>
        <a href="{% url 'admin:login' %}">Admin</a>
    </nav>
    <h1>Admin Login</h1>
    <form method="post" action="{% url 'admin:login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p><a href="{% url 'register' %}">Create New Admin User</a></p>
</body>
</html>
